<footer class="footer">
    <div class="footer__container">
        <div class="footer__content">
            <div class="footer__section">
                <h3 class="footer__title">Ольга Литовченко</h3>
                <p class="footer__text">Учитель английского языка</p>
            </div>
            <div class="footer__section">
                <h3 class="footer__title">Навигация</h3>
                <ul class="footer__nav-list">
                    <li><a routerLink="/home" class="footer__link">Главная</a></li>
                    <li><a routerLink="/about" class="footer__link">Об учителе</a></li>
                    <li><a routerLink="/blog" class="footer__link">Блог</a></li>
                    <li><a routerLink="/gallery" class="footer__link">Галерея</a></li>
                    <li><a routerLink="/contacts" class="footer__link">Обратная связь</a></li>
                </ul>
            </div>
            <div class="footer__section">
                <h3 class="footer__title">Контакты</h3>
                <p class="footer__text">📞 8 (922) 257-47-67</p>
                <p class="footer__text">📧 olgasurgut85@mail.ru</p>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__copyright">© {{ currentYear }} Ольга Литовченко. Все права защищены.</p>
        </div>
    </div>
</footer>